body {
  background-color: #0a0a0a;
  animation: fadeIn 5s;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -o-animation: fadein 5s;
}

body .main {
  padding: 20px 60px 24px 60px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.text h2 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 32px;
  width: 1440px;
  height: 96px;
  border-bottom: 1px;
  justify-content: space-between;
  line-height: 48px;
  letter-spacing: -1;
  margin: 0;
  position: relative;
  top: 20px;
}

body .text {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 32px;
  flex-direction: row;
  align-items: center;
}

body .text ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  align-items: center;
}

body .text ul li {
  margin-right: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.contactform a {
  text-decoration: none;
  color: #1a1a1a;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: #d3e97a;
  font-family: "Manrope", sans-serif;
  font-weight: bolder;
  transition: background-color 0.3s ease;
  position: relative;
  top: 65px;
}

.p22 a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #d3e97a;
  color: #c7c7c7;
}

.p21 a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #d3e97a;
  color: #c7c7c7;
}

body .text ul li a {
  text-decoration: none;
  color: #fff;
}

.home2 img {
  width: 600px;
  height: 800px;
  border-radius: 25px;
  margin-right: 20px;
  float: right;
  position: relative;
  top: -400px;
  right: 56px;
}

.profilesection .p1 {
  color: #fff;
  width: 544px;
  height: 20px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 101px;
  padding-left: 65px;
}

.profilesection .p2 {
  color: #fff;
  width: 544px;
  height: 20px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 101px;
  padding-left: 65px;
}

.button {
  padding-top: 45px;
  padding-left: 65px;
}

.p111 {
  color: #c7c7c7;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  left: 70px;
}

.p112 {
  color: #c7c7c7;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  left: 70px;
}

.contact-me {
  background-color: #d3e97a;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
}

.projectsarea p {
  color: #fff;
  width: 464px;
  height: 76px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 76px;
  padding-left: 65px;
}

.projectsarea p2 {
  color: #fff;
  width: 600px;
  height: 54px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 65px;
}

.projectsarea p3 {
  color: #fff;
  width: 600px;
  height: 54px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 65px;
}

.container1 {
  width: 1200px;
  height: 600px;
  opacity: 100;
  display: flex;
  margin-left: 65px;
  margin-right: auto;
  margin-top: 54px;
  box-sizing: border-box;
}

.projectcard1 {
  display: flex;
  background-color: #1a1a1a;
  color: #fff;
  width: 700px;
  height: 400px;
  padding: 40px;
  border-radius: 20px;
  gap: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.projectcard1 img {
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: transform 0.2s;
}

.seegithub img {
  width: 20px;
  height: 20px;
}

.projectcard1 img:hover {
  transform: scale(1.1);
}

.textdiv1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.textdiv1 h2 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 22px;
  padding-left: 100px;
  margin: 0;
}

.textdiv1 h3 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 19px;
  padding-left: 100px;
  text-align: left;
}

.textdiv1 p {
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding-left: 100px;
  text-align: left;
}

.w2 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  position: relative;
  left: 100px;
  top: -30px;
}

.textdiv1 .w3 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  left: 400px;
  top: -59px;
}

.w4 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  position: relative;
  left: 100px;
  top: -80px;
}

.textdiv1 .w5 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  left: 290px;
  top: -110px;
}

.textdiv1 .hr2 {
  color: #484848;
  border: 1px solid;
  position: relative;
  top: -60px;
}

.textdiv1 .hr3 {
  color: #484848;
  border: 1px solid;
  position: relative;
  top: -100px;
}

.p4 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 100px;
  text-align: left;
  color: #f1f1f1;
  margin-top: -50px;
}

.p5 {
  color: #f1f1f1;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: -30px;
  padding-left: 360px;
}

.livedemobtn {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #d3e97a;
  gap: 2px;
  padding-left: 100px;
  transition: transform 0.2s;
  position: relative;
  top: -100px;
}

.livedemobtn:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.seegithub {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #d3e97a;
  gap: 2px;
  margin-top: -33px;
  transition: transform 0.2s;
  position: relative;
  top: -100px;
  left: 230px;
}

.seegithub:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.container2 {
  width: 1200px;
  height: 600px;
  opacity: 100;
  display: flex;
  margin-left: 65px;
  margin-right: auto;
  margin-top: 54px;
  box-sizing: border-box;
}

.projectcard2 {
  display: flex;
  background-color: #1a1a1a;
  color: #fff;
  width: 669px;
  height: 400px;
  padding: 40px;
  border-radius: 20px;
  gap: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  align-content: center;
  justify-content: center;
}

.projectcard2 img {
  border-radius: 20px;
  transition: transform 0.2s;
}

.projectcard2 img:hover {
  transform: scale(1.1);
}

.textdiv2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.textdiv2 h2 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 22px;
  padding-left: 100px;
  margin: 0;
}

.textdiv2 p {
  color: #a7a7a7;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding-left: 100px;
  text-align: left;
}

.textdiv2 h3 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 19px;
  padding-left: 100px;
  text-align: left;
}

.hr1 {
  color: #484848;
  border: 1px solid;
  width: 80%;
  top: -30px;
  margin-left: 97px;
  margin-right: 5%;
  position: relative;
}

.textdiv2 p2 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 100px;
  text-align: left;
  color: #f1f1f1;
  position: relative;
  top: -30px;
}

.textdiv2 p3 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 100px;
  text-align: left;
  color: #f1f1f1;
  position: relative;
  top: -59px;
  left: 230px;
}

.textdiv .hr2 {
  position: relative;
  top: -200px;
}

.textdiv2 p4 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 100px;
  text-align: left;
  color: #f1f1f1;
  position: relative;
  top: -80px;
}

.textdiv2 p5 {
  color: #f1f1f1;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  top: -110px;
  left: 390px;
}

.textdiv2 .hr3 {
  position: relative;
  top: -110px;
}

.textdiv2 p6 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #f1f1f1;
  position: relative;
  top: -110px;
  left: 100px;
}

.textdiv2 p7 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  left: 280px;
  top: -135px;
}

.hr4 {
  color: #484848;
  border: 1px solid;
  width: 80%;
  margin-left: 97px;
  margin-right: 5%;
  position: relative;
  top: -130px;
}

.viewproject {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #d3e97a;
  gap: 2px;
  position: relative;
  top: -110px;
  left: 100px;
  transition: transform 0.2s;
}

.viewproject:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.container3 {
  width: 1200px;
  height: 600px;
  opacity: 100;
  display: flex;
  margin-left: 65px;
  margin-right: auto;
  margin-top: 54px;
  box-sizing: border-box;
}

.projectcard3 {
  display: flex;
  background-color: #1a1a1a;
  color: #fff;
  width: 700px;
  height: 400px;
  padding: 40px;
  border-radius: 20px;
  gap: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.projectcard3 img {
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: transform 0.2s;
}

.iconcon img {
  width: 32px;
  height: 32px;
}

.projectcard3 img:hover {
  transform: scale(1.1);
}

.textdiv3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.textdiv3 h2 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 22px;
  padding-left: 100px;
  margin: 0;
}

.textdiv3 p {
  color: #a7a7a7;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 11px;
  padding-left: 100px;
  text-align: left;
}

.textdiv3 h3 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 19px;
  padding-left: 100px;
  text-align: left;
}

.textdiv3 p2 {
  font-family:  sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #f1f1f1;
  position: relative;
  top: -35px;
  left: 100px;
}

.textdiv3 p3 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #f1f1f1;
  position: relative;
  top: -65px;
  left: 400px;
}

.hr2 {
  color: #484848;
  border: 1px solid;
  width: 80%;
  top: 10px;
  margin-left: 97px;
  margin-right: 5%;
  position: relative;
  margin-bottom: 30px;
  clear: both;
  top: -40px;
}

.textdiv3 p4 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 100px;
  text-align: left;
  color: #f1f1f1;
  margin-top: -70px;
  position: relative;
  top: -15px;
}

.textdiv3 p5 {
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  left: 280px;
  top: -45px;
}

.hr2 {
  color: #484848;
  border: 1px solid;
  width: 80%;
  position: relative;
  top: -60px;
}

.hr3 {
  color: #484848;
  border: 1px solid;
  width: 80%;
  top: -5px;
  margin-left: 97px;
  margin-right: 5%;
  position: relative;
  top: -35px;
}

.livedemobtn1 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #d3e97a;
  gap: 2px;
  padding-left: 100px;
  transition: transform 0.2s;
}

.livedemobtn1:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.seegithub1 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #d3e97a;
  gap: 2px;
  position: relative;
  left: 230px;
  margin-top: -33px;
  transition: transform 0.2s;
}

.seegithub1:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.seegithub1 img {
  width: 20px;
  height: 20px;
}

.hr10 {
  border: 1px solid #484848;
  width: 100%;
  position: relative;
}

.container4 {
  width: 1200px;
  height: 600px;
  opacity: 100;
  display: flex;
  margin-left: 65px;
  margin-right: auto;
  margin-top: 54px;
  box-sizing: border-box;
}

.p1 {
  color: #fff;
  width: 464px;
  height: 76px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 76px;
  padding-left: 65px;
  display: block;
}

.p2 {
  font-family: sans-serif;
  color: #f1f1f1;
  margin-top: 90px;
  font-size: 32px;
  font-weight: 500;
}

.p3 {
  font-family: sans-serif;
  color: #c7c7c7;
  margin-top: -400px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 595px;
}

.moreabt1 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #d3e97a;
  gap: 2px;
  margin-left: 595px;
  transition: transform 0.2s;
}

.moreabt1:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.hr11 {
  border: 1px solid #484848;
  width: 100%;
  margin-top: 350px;
}

.container5 {
  width: 1200px;
  height: 400px;
  opacity: 100;
  display: flex;
  margin-left: 65px;
  margin-right: auto;
  margin-top: 54px;
  box-sizing: border-box;
}

.p20 {
  color: #fff;
  width: 464px;
  height: 76px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 76px;
  padding-left: 65px;
}

.p21 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #c7c7c7;
  margin-left: 65px;
  margin-top: -50px;
}

.p21 a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #d3e97a;
  color: #c7c7c7;
}

.p22 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #c7c7c7;
  margin-left: 65px;
  margin-top: -10px;
}

.iconcon {
  width: 200px;
  height: 32px;
  gap: 24px;
  padding-left: 65px;
}

.contactform {
  width: 600px;
  height: 611px;
  margin-top: 54px;
  font-family: sans-serif;
  color: #c7c7c7;
  position: relative;
  left: 90px;
  top: 30px;
}

input[type="text"],
select,
textarea {
  width: 600px;
  height: 51px;
  padding: 12px;
  border: 1px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #1a1a1a;
}

input[type="text"] {
  color: #a7a7a7;
}

.footer-bottom {
  color: #a7a7a7;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 160px;
  height: 26px;
  margin-left: 65px;
  margin-top: 330px;
}

.contactform a:hover {
  background-color: #d0d6b8;
}

::placeholder {
  font-family: sans-serif;
  color: #a7a7a7;
}


::-webkit-scrollbar {
  width: 6px;
  border-radius: 7px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #d1c6c6;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hrs {
  border: 1px solid;
  color: #484848;
  width: 100%;
}
p,p2,p3 {
  color:white;
}