body {
    background-color: #0a0a0a;
    animation: fadeIn 5s;
    -webkit-animation: fadein 5s;
    -moz-animation: fadein 5s;
    -o-animation: fadein 5s;
  }
  
  body .main {
    padding: 20px 60px 24px 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  body .main h2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 32px;
    width: 1440px;
    height: 96px;
    border-bottom: 1px;
    justify-content: space-between;
    line-height: 48px;
    letter-spacing: -1;
    margin: 0;
    position: relative;
    right: -50px;
    top: 20px;
  }
  
  body .text {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 32px;
    flex-direction: row;
    align-items: center;
  }
  
  body .text ul {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -600px;
  }
  
  body .text ul li {
    margin-right: 10px;
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .p21 a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #d3e97a;
    color: #c7c7c7;
  }
  
  .p22 a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #d3e97a;
    color: #c7c7c7;
  }
  
  .contactform a {
    text-decoration: none;
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: #d3e97a;
    font-family: sans-serif;
    font-weight: bolder;
    transition: background-color 0.3s ease;
    position: relative;
    bottom: -20px;
  }
  
  .text ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    right: -600px;
  }
  
  .container1 {
    width: 1200px;
    height: 600px;
    opacity: 100;
    display: flex;
    margin-left: 65px;
    margin-right: auto;
    margin-top: 54px;
    box-sizing: border-box;
  }
  
  .p1 {
    color: #fff;
    width: 464px;
    height: 76px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 76px;
    padding-left: 65px;
  }
  
  .p2 {
    font-family: sans-serif;
    color: #f1f1f1;
    margin-top: 90px;
    font-size: 32px;
    font-weight: 500;
  }
  
  .p3 {
    font-family: sans-serif;
    color: #c7c7c7;
    margin-top: -400px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 595px;
  }
  
  .contact-me {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #d3e97a;
    gap: 2px;
    margin-left: 595px;
    padding: 15px 15px;
    border-radius: 30px;
    position: relative;
    top: 20px;
    border: none;
    transition: transform 0.2s;
  }
  
  .contact-me:hover {
    text-decoration: none;
    transform: scale(1.2);
  }
  
  .container2 {
    width: 1244px;
    height: 700px;
    opacity: 100;
    margin-left: 65px;
    margin-right: auto;
    margin-top: 54px;
    box-sizing: border-box;
    position: relative;
    top: 150px;
  }
  
  .container2 img {
    border-radius: 20px;
    width: 1244px;
    height: 700px;
  }
  
  .container3 {
    width: 1224px;
    height: 400px;
    opacity: 100;
    display: flex;
    margin-left: 65px;
    margin-right: auto;
    margin-top: 54px;
    box-sizing: border-box;
  }
  
  .p4 {
    color: #fff;
    width: 464px;
    height: 76px;
    font-family:sans-serif;
    font-weight: 400;
    font-size: 76px;
    padding-left: 65px;
    position: relative;
    top: 200px;
  }
  
  .container4 {
    width: 600px;
    height: 241px;
    position: relative;
    left: 700px;
    top: -120px;
  }
  
  .text2 p {
    width: 600px;
    height: 81px;
    position: relative;
    color: #c7c7c7;
    font-family: sans-serif;
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: center;
  }
  
  .skill-item {
    font-family: sans-serif;
    background-color: none;
    color: #f5f5f5;
    border: solid 1px #484848;
    padding: 12px 24px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    position: relative;
    top: 20px;
    right: 60px;
  }
  
  .skill-item:hover {
    transform: translateY(-3px);
    background-color: #d3e97a;
    color: #0a0a0a;
  }
  
  .skill-item p {
    margin: 0;
    font-weight: 500;
  }
  
  .container6 {
    width: 100%;
    max-width: 1224px;
    height: 533px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow-x: hidden;
  }
  
  .p31 {
    font-family: sans-serif;
    color: #c7c7c7;
    font-size: 76px;
    font-weight: 500;
    margin-left: 120px;
  }
  
  .p32 {
    font-family: sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 650px;
    position: relative;
    top: -160px;
  }
  
  .p33 {
    text-align: right;
    font-family: sans-serif;
    color: #c7c7c7;
    font-size: 18px;
    position: relative;
    bottom: 200px;
  }
  
  .p34 {
    font-family: sans-serif;
    color: #c7c7c7;
    font-size: 18px;
    font-weight: 400;
    margin-left: 650px;
    position: relative;
    top: -160px;
  }
  
  .container7 {
    width: 100%;
    max-width: 1224px;
    height: 533px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow-x: hidden;
  }
  
  .p35 {
    font-family: sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    left: 645px;
  }
  
  .p36 {
    text-align: right;
    font-family: sans-serif;
    color: #c7c7c7;
    font-size: 18px;
    position: relative;
    top: -44px;
  }
  
  .p37 {
    font-weight: 600;
    font-size: 18px;
    color: #d3e97a;
    font-family: sans-serif;
    position: relative;
    left: 645px;
    top: -40px;
  }
  
  .p38 {
    font-family: sans-serif;
    color: #c7c7c7;
    font-size: 18px;
    font-weight: 400;
    margin-left: 650px;
    position: relative;
    top: -30px;
    left: -7px;
  }
  
  .container5 {
    width: 1200px;
    height: 650px;
    opacity: 100;
    display: flex;
    margin-left: 65px;
    margin-right: auto;
    margin-top: 54px;
    box-sizing: border-box;
  }
  
  .p20 {
    color: #fff;
    width: 464px;
    height: 76px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 76px;
    padding-left: 65px;
  }
  
  .p21 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #c7c7c7;
    margin-left: 65px;
    margin-top: -50px;
  }
  
  .p22 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #c7c7c7;
    margin-left: 65px;
    margin-top: -10px;
  }
  
  .iconcon {
    width: 200px;
    height: 32px;
    gap: 24px;
    padding-left: 65px;
  }
  
  .iconcon img {
    width: 32px;
    height: 32px;
  }
  
  .contactform {
    float: right;
    position: relative;
    left: -50px;
    top: -600px;
    width: 600px;
    height: 500px;
    margin-top: 54px;
    font-family: sans-serif;
    color: #c7c7c7;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 600px;
    height: 51px;
    padding: 12px;
    border: 1px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #1a1a1a;
  }
  
  input[type="text"] {
    color: #a7a7a7;
  }
  
  #message {
    width: 600px;
    height: 156px;
    padding: 12px;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #1a1a1a;
  }
  
  .footer-bottom {
    color: #a7a7a7;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 160px;
    height: 26px;
    margin-left: 65px;
    margin-top: 330px;
  }
  
  .contactform a:hover {
    background-color: #d0d6b8;
  }